### We are going to make some unrealistic changes to the dataset. That being said, these changes will not be published and are only being made for purposes of an example.

### We are going to assign a region/location to each row. We want to split the dataset by region and make a spreadsheet for each of them.

Imagine the following scenario:- This dataset is much larger than it currently is, maybe 500K+ rows. Scientists from the various regions in Mexico want to study their subset of CoVID cases in greater detail. We can make a spreadsheet and send it to them.

In [41]:
import xlsxwriter
import pandas as pd
import random

In [42]:
covid = pd.read_csv(R'Z:\Ahsan\Downloads\785492_1361825_bundle_archive/covid.csv')
covid = covid.drop_duplicates('id')
covid.head(5)

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2

Since there is no location information in our dataset, let's add it. [This webpage has a list of all administrative regions in Mexico](https://en.wikipedia.org/wiki/Administrative_divisions_of_Mexico).

In [43]:
regions = ['Aguascalientes',
 'Baja California',
 'Baja California Sur',
 'Campeche',
 'Chiapas',
 'Chihuahua',
 'Coahuila',
 'Colima Col.',
 'Mexico City',
 'Durango',
 'Guanajuato',
 'Guerrero',
 'Hidalgo',
 'Jalisco',
 'México Edomex.',
 'Michoacán',
 'Morelos',
 "Nayarit",
 'Nuevo León',
 'Oaxaca',
 'Puebla',
 'Querétaro',
 "Quintana Roo",
 "San Luis",
 'Sinaloa',
 'Sonora',
 'Tabasco',
'Tamaulipas',
 'Tlaxcala',
 'Veracruz',
 'Yucatán',
 'Zacatecas']

In [44]:
random.choice(regions)

'Campeche'

In [45]:
region = []
for i in range(len(covid)):
    region.append(random.choice(regions))
covid['Region'] = region

We can make a dictionary object to seperate our data into

In [46]:
by_region = dict(tuple(covid.groupby('Region')))

In [47]:
by_region['Aguascalientes'].head(5)

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu,Region
9,006b91,1,2,23-04-2020,18-04-2020,9999-99-99,1,1,39,2,...,2,2,2,1,2,2,99,1,2,Aguascalientes
57,10a401,1,1,29-03-2020,28-03-2020,9999-99-99,97,2,32,2,...,2,2,2,2,2,1,99,1,97,Aguascalientes
62,10a174,2,1,22-04-2020,19-04-2020,9999-99-99,97,2,40,97,...,2,2,2,2,2,2,99,1,97,Aguascalientes
89,17842c,2,1,08-04-2020,07-04-2020,9999-99-99,97,2,42,97,...,2,2,2,1,2,1,99,1,97,Aguascalientes
134,1d8440,1,2,14-04-2020,14-04-2020,9999-99-99,2,1,31,2,...,2,2,2,2,2,2,99,1,1,Aguascalientes

Now we can make spreadsheet by iterating over the dictionary key, value pairs. Foresight tells me that the formatting of the new spreadsheets may be off so let's take care of that as well.

In [48]:
import pandas.io.formats.excel
pandas.io.formats.excel.header_style = None
pandas.io.formats.excel.ExcelFormatter.header_style = None

In [50]:
for k, v in by_region.items():
     writer = pd.ExcelWriter(R'Z:\Ahsan\Desktop\covid_example\20200827\{}.xlsx'.format(k), engine='xlsxwriter')
     workbook = writer.book
     v.to_excel(writer, sheet_name = 'Sheet 1', index = False, header = True)
     worksheet = writer.sheets['Sheet 1']
     c_head = workbook.add_format({'bg_color':'#B4C6E7', 'text_wrap':True, 'border_color':'#000000', 'border':True, 'bold': True})
     worksheet.set_row(0, None, c_head)
     writer.save()

The result is as follows
![The Folder](out.png)

![The excel file](excel.png)